In [1]:
import pandas as pd

In [2]:
# create a new data frame
data = [['Toy Story','Animation|Children|Comedy', '1995'],
['Jumanji','Adventure|Children|Fantasy', '1995'],
['Grumpier Old Men','Romance|Comedy' ,'1995'],
['Waiting to Exhale','Comedy|Drama', '1995'],
['Father of the Bride Part II','Comedy','1995']
]
movies = pd.DataFrame(data)
movies

                             0                           1     2
0                    Toy Story   Animation|Children|Comedy  1995
1                      Jumanji  Adventure|Children|Fantasy  1995
2             Grumpier Old Men              Romance|Comedy  1995
3            Waiting to Exhale                Comedy|Drama  1995
4  Father of the Bride Part II                      Comedy  1995

In [3]:
movies.columns = ["Movie ", "Genre", "Year Released"]
movies

                        Movie                        Genre Year Released
0                    Toy Story   Animation|Children|Comedy          1995
1                      Jumanji  Adventure|Children|Fantasy          1995
2             Grumpier Old Men              Romance|Comedy          1995
3            Waiting to Exhale                Comedy|Drama          1995
4  Father of the Bride Part II                      Comedy          1995

https://stackoverflow.com/questions/34091877/how-to-add-header-row-to-a-pandas-dataframe