In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame( { 
    "Name" : ["Alice", "Bob", "Mallory", "Mallory", "Bob" , "Mallory"] , 
    "City" : ["Seattle", "Seattle", "Portland", "Seattle", "Seattle", "Portland"] } )
print(df1)

      Name      City
0    Alice   Seattle
1      Bob   Seattle
2  Mallory  Portland
3  Mallory   Seattle
4      Bob   Seattle
5  Mallory  Portland

##### Group by Single Column

In [14]:
g1 = df1.groupby( [ "Name"] ).count()
g1

         City
Name
Alice       1
Bob         2
Mallory     3

In [15]:
g2 = df1.groupby( [ "City"] ).count()
g2

          Name
City
Portland     2
Seattle      4

In [16]:
##### Group by Multiple Columns

In [6]:
g1 = df1.groupby( [ "Name", "City"] ).count()

In [7]:
g1

Empty DataFrame
Columns: []
Index: [(Alice, Seattle), (Bob, Seattle), (Mallory, Portland), (Mallory, Seattle)]