In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create a data Frame
income_raw = pd.DataFrame({ 'UserId': [1, 2, 3,4,5,6,7,8],
                            'income': ['<=50K', '>50K','<=50K', '>50K','<=50K', '>50K','<=50K', '>50K'],
                            'sex':['male','male','female','female','female','female','other','other']})

In [3]:

#pd.crosstab(income_raw,columns=['income'] )
pd.crosstab(income_raw["income"],income_raw['sex'],margins=True)

sex     female  male  other  All
income
<=50K        2     1      1    4
>50K         2     1      1    4
All          4     2      2    8

In [5]:
pd.crosstab(income_raw["income"],income_raw['sex'],margins=True,normalize=True)

sex     female   male  other  All
income
<=50K     0.25  0.125  0.125  0.5
>50K      0.25  0.125  0.125  0.5
All       0.50  0.250  0.250  1.0

In [4]:
pd.crosstab(income_raw["income"],income_raw['sex'],margins=True).apply(lambda r: r/r.sum(), axis=1)

sex     female   male  other  All
income
<=50K     0.25  0.125  0.125  0.5
>50K      0.25  0.125  0.125  0.5
All       0.25  0.125  0.125  0.5

References : https://stackoverflow.com/questions/21247203/how-to-make-a-pandas-crosstab-with-percentages