In [2]:
import pandas as pd
import numpy as np

In [5]:
# Create a data Frame
income_raw = pd.DataFrame({ 'UserId': [1, 2, 3,4,5,6,7,8],
                    'income': ['<=50K', '>50K','<=50K', '>50K','<=50K', '>50K','<=50K', '>50K']})

In [7]:
#Encode the 'income_raw' data to numerical values
income_mapper = {'<=50K':0, 
                 '>50K' : 1}

income_raw['income'] = income_raw['income'].astype(str)
income = pd.DataFrame()
income['income'] = income_raw['income'].replace(income_mapper)

In [10]:
income_raw.head()

   UserId income
0       1  <=50K
1       2   >50K
2       3  <=50K
3       4   >50K
4       5  <=50K

In [11]:
income.head(2)

   income
0       0
1       1

# Direct Replacement in data frame

In [12]:
# TODO: Encode the 'income_raw' data to numerical values
income = income_raw.replace(["<=50K",">50K"],[0,1])

In [13]:
income.head()

   UserId  income
0       1       0
1       2       1
2       3       0
3       4       1
4       5       0