In [1]:
import pandas as pd 
import numpy as np

In [13]:
np.random.seed(10)
data = pd.DataFrame(np.random.randn(5,4),columns=['A','B','C','D'])
data

          A         B         C         D
0  1.331587  0.715279 -1.545400 -0.008384
1  0.621336 -0.720086  0.265512  0.108549
2  0.004291 -0.174600  0.433026  1.203037
3 -0.965066  1.028274  0.228630  0.445138
4 -1.136602  0.135137  1.484537 -1.079805

In [18]:
# My custom function
data['A'].map(lambda x:x+10)

0    11.331587
1    10.621336
2    10.004291
3     9.034934
4     8.863398
Name: A, dtype: float64

In [17]:
data.apply(lambda x: x.max() - x.min())

A    2.468189
B    1.748360
C    3.029937
D    2.282842
dtype: float64

In [15]:
print(data.apply(np.mean))

A   -0.028891
B    0.196801
C    0.173261
D    0.133707
dtype: float64