In [1]:
# import the libraries
import pandas as pd
import numpy as np

In [2]:
np.random.seed(10)
mydataFrame=pd.DataFrame(np.random.randn(5,2),columns=['A','B'])

In [3]:
mydataFrame.head()

          A         B
0  1.331587  0.715279
1 -1.545400 -0.008384
2  0.621336 -0.720086
3  0.265512  0.108549
4  0.004291 -0.174600

### Sort the column based on a Value By_Value

In [4]:
mySortedDF = mydataFrame.sort_values(ascending=False,by='A')
mySortedDF

          A         B
0  1.331587  0.715279
2  0.621336 -0.720086
3  0.265512  0.108549
4  0.004291 -0.174600
1 -1.545400 -0.008384

### Sort by more than one column

In [5]:
myDF = pd.DataFrame({'A':[4,2,1,1],'B':[1,3,2,4]})
mysortedDF = myDF.sort_values(by=['A','B'])

In [6]:
mysortedDF

   A  B
2  1  2
3  1  4
1  2  3
0  4  1

### Sort by Index sort_index()

In [7]:
mysortedDF

   A  B
2  1  2
3  1  4
1  2  3
0  4  1

In [8]:
myIndexSorted = mysortedDF.sort_index()
myIndexSorted

   A  B
0  4  1
1  2  3
2  1  2
3  1  4

In [9]:
### Sort the Columns

In [10]:
myIndexSorted = mysortedDF.sort_index(axis=1,ascending=False)
myIndexSorted

   B  A
2  2  1
3  4  1
1  3  2
0  1  4