# pandas.DataFrame.select_dtypesÂ¶

DataFrame.select_dtypes(include=None, exclude=None)

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Create a data Frame
df = pd.DataFrame({ 'a': [1, 2, 3] * 2,
                    'b': [True, False] *3 ,
                    'c': [1.0, 2.0, 4.0] * 2,
                    'd': ['A','X','Z','B','Z','A']})

In [4]:
df.dtypes

a      int64
b       bool
c    float64
d     object
dtype: object

In [5]:
df.select_dtypes(exclude=['int64'])

       b    c  d
0   True  1.0  A
1  False  2.0  X
2   True  4.0  Z
3  False  1.0  B
4   True  2.0  Z
5  False  4.0  A

In [6]:
df.select_dtypes(exclude=['object'])

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  3   True  4.0
3  1  False  1.0
4  2   True  2.0
5  3  False  4.0

In [7]:
print("All column Names",df.columns)
print("Numeric Columns",df._get_numeric_data().columns)
print("Object Type Columns ",df.select_dtypes(include=['object']).columns)
print("NOT Object Type Columns ",df.select_dtypes(exclude=['object']).columns)

All column Names Index(['a', 'b', 'c', 'd'], dtype='object')
Numeric Columns Index(['a', 'b', 'c'], dtype='object')
Object Type Columns  Index(['d'], dtype='object')
NOT Object Type Columns  Index(['a', 'b', 'c'], dtype='object')

In [8]:
numerics = df.select_dtypes(exclude=['object']).columns
print("Numerics Columns ",numerics)

Numerics Columns  Index(['a', 'b', 'c'], dtype='object')

In [9]:
non_numeric = df.select_dtypes(include=['object']).columns
print("Non Numeric Columns ",non_numeric)

Non Numeric Columns  Index(['d'], dtype='object')