In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create a data Frame
income_raw = pd.DataFrame({ 'UserId': [1, 2, 3,4,5,6,7,8],
                            'income': ['<=50K', '>50K','<=50K', '>50K','<=50K', '>50K','<=50K', '>50K'],
                            'sex':['male','male','female','female','female','female','other','other']})

In [3]:
# Create the Cross Table  income vs Sex
pd.crosstab(income_raw["income"],income_raw['sex'],margins=True)

sex     female  male  other  All
income
<=50K        2     1      1    4
>50K         2     1      1    4
All          4     2      2    8

In [4]:
# Create the Cross Table Sex vs Income
pd.crosstab(income_raw["sex"],income_raw['income'],margins=True)

income  <=50K  >50K  All
sex
female      2     2    4
male        1     1    2
other       1     1    2
All         4     4    8