In [1]:
# import Pandas as pd
import pandas as pd

In [2]:
# create a new data frame
df = pd.DataFrame({'Name': ['Rishi Arora', 'Ajit Nanda', 'Deepak Chaudary'],
                   'Age':[32, 34, 36]})
df

              Name  Age
0      Rishi Arora   32
1       Ajit Nanda   34
2  Deepak Chaudary   36

In [3]:
df.Name.str.split(" ")

0        [Rishi, Arora]
1         [Ajit, Nanda]
2    [Deepak, Chaudary]
Name: Name, dtype: object

https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns/14745484