### KNN Algorithm

In [10]:
# Importing libraries
import pandas as pd
import numpy as np
import math
import operator
from sklearn import datasets
#from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [11]:
# import some data to play with
iris = datasets.load_iris()
print(iris.keys())

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [12]:
print(iris['data'][1:5])
#print(iris.DESCR)
print(iris.feature_names[0:2])
print(iris.target[1:10])
print(iris.target_names[0:2])

[[4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
['sepal length (cm)', 'sepal width (cm)']
[0 0 0 0 0 0 0 0 0]
['setosa' 'versicolor']

In [13]:
iris_df = pd.DataFrame(data=iris.data,columns=iris.feature_names)
iris_df.head(2)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

In [14]:
iris_Target_df = pd.DataFrame(data=iris.target,columns = ['Flower_types'])
iris_Target_df.head(2)

   Flower_types
0             0
1             0

In [15]:
#Create a pandas Data Frmae of Selected size
reportx = pd.DataFrame(data=pd.Series(np.zeros(12)),columns=['X'])
#list(range(10))

In [16]:
#%%pixie_debugger
testSet = [7.2, 3.6, 5.1, 2.5]
#print(testSet[1])
#print(iris_df.iloc[row,1])
#x=0 print(testSet[x] - iris_df.iloc[row,x])
cell1 = iris_df.iloc[110]
cell2 = iris_df.iloc[114]
print(cell1)
print(cell2)


def cellEucledianDiff(cell1,cell2):
    xdistance=0
    for x in range(4):
        distance = np.square(cell1[x] - cell2[x])
#        print (distance)
        xdistance = xdistance + distance
    return xdistance

        
    #    distance += np.square(testSet[x] - iris_df.iloc[row,x])
    #    print(distance)

distanceofCells = cellEucledianDiff(cell1,cell2)
print(distanceofCells)

sepal length (cm)    6.5
sepal width (cm)     3.2
petal length (cm)    5.1
petal width (cm)     2.0
Name: 110, dtype: float64
sepal length (cm)    5.8
sepal width (cm)     2.8
petal length (cm)    5.1
petal width (cm)     2.4
Name: 114, dtype: float64
0.8100000000000005

In [22]:
X = iris_df
y = iris.target
iris_df['Distance'] = 0
iris_df.head()
X_train, X_test, Y_train,Y_test = train_test_split(X, y, random_state=0,train_size=0.8)

In [27]:
print(X_train.shape)
X_train.head()

(120, 5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Distance
137,6.4,3.1,5.5,1.8,0
84,5.4,3.0,4.5,1.5,0
27,5.2,3.5,1.5,0.2,0
127,6.1,3.0,4.9,1.8,0
132,6.4,2.8,5.6,2.2,0

In [29]:
print(X_test.shape)
X_test.head()

(30, 5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Distance
114,5.8,2.8,5.1,2.4,0
62,6.0,2.2,4.0,1.0,0
33,5.5,4.2,1.4,0.2,0
107,7.3,2.9,6.3,1.8,0
7,5.0,3.4,1.5,0.2,0

In [30]:
print(X_test.index)
print(X_test.index[0])
print(X_test.index[0])

print(X_test.iloc[1])

Int64Index([114,  62,  33, 107,   7, 100,  40,  86,  76,  71, 134,  51,  73,
             54,  63,  37,  78,  90,  45,  16, 121,  66,  24,   8, 126,  22,
             44,  97,  93,  26],
           dtype='int64')
114
114
sepal length (cm)    6.0
sepal width (cm)     2.2
petal length (cm)    4.0
petal width (cm)     1.0
Distance             0.0
Name: 62, dtype: float64

In [115]:
k=3
print(print(X_test.iloc[0]))
X_train_sorting = pd.DataFrame(X_train,copy=False)
for x1 in range(X_test.shape[0]-29):
#    print(X_test.iloc[x1])
    for x2 in range(X_train_sorting.shape[0]):
#        print(X_train.iloc[x2])
        distanceofCells = cellEucledianDiff(X_train.iloc[x2],X_test.iloc[x1])
#        df["COL_NAME"].iloc[0]=x
        X_train_sorting['Distance'].iloc[x2] = distanceofCells
#        iris_df['Distance'].sort_values().head()
#       print(distanceofCells)
        X_train_sorting = X_train_sorting.sort_values('Distance')#,ascending=False)
    
X_train_sorting.head(k)

sepal length (cm)    5.8
sepal width (cm)     2.8
petal length (cm)    5.1
petal width (cm)     2.4
Distance             0.0
Name: 114, dtype: float64
None

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Distance
110,6.5,3.2,5.1,2.0,0.0
116,6.5,3.0,5.5,1.8,0.0
68,6.2,2.2,4.5,1.5,0.0

In [16]:
from sklearn.cross_validation import train_test_split
X = iris.data
y = iris.target

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

model = KNeighborsClassifier(n_neighbors=1)


# split the data with 50% in each set

X_train, X_test, Y_train,Y_test = train_test_split(X, y, random_state=0,train_size=0.8)
# fit the model on one set of data
model.fit(X_train, Y_train)
# evaluate the model on the second set of data
Y_train_model = model.predict(X_test)
accuracy_score(Y_test, Y_train_model)

1.0

In [12]:
data1 = iris_df.loc[12] 
data2 = iris_df.loc[10] 
length = 4
distance = 0
#numx = list(range(10))
#print(numx)
Dist_Table = pd.DataFrame(data=pd.Series(np.zeros(12)),columns=['X'])
loc = 0
for x in range(length):
    distance += np.square(data1[x] - data2[x])
    print (distance)
    Dist_Table[loc] = distance
        

#print ("distance",Dist_Table[0])

0.36
0.85
0.86
0.87

In [14]:
#%%pixie_debugger

# Defining a function which calculates euclidean distance between two data points
def euclideanDistance(data1, data2, length):
    distance = 0
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
    return np.sqrt(distance)

In [16]:
# Defining our KNN model
def knn(trainingSet, testInstance, k):
 
    distances = {}
    sort = {}
 
    length = testInstance.shape[1]
    
    #### Start of STEP 3
    # Calculating euclidean distance between each row of training data and test data
    for x in range(len(trainingSet)):
        
        #### Start of STEP 3.1
        dist = euclideanDistance(testInstance, trainingSet.iloc[x], length)

        distances[x] = dist[0]
        #### End of STEP 3.1
 
    #### Start of STEP 3.2
    # Sorting them on the basis of distance
    sorted_d = sorted(distances.items(), key=operator.itemgetter(1))
#    print(sorted_d)
    #### End of STEP 3.2
 
    neighbors = []
    
    #### Start of STEP 3.3
    # Extracting top k neighbors
    for x in range(k):
        neighbors.append(sorted_d[x][0])
    #### End of STEP 3.3
    classVotes = {}
    
    #### Start of STEP 3.4
    # Calculating the most freq class in the neighbors
    for x in range(len(neighbors)):
        response = trainingSet.iloc[neighbors[x]][-1]
 
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1
    #### End of STEP 3.4

    #### Start of STEP 3.5
    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    return(sortedVotes[0][0], neighbors)
    #### End of STEP 3.5

In [17]:
import numpy as np
array1 = np.array([1.1, 2.2, 3.3])
array2 = np.array([1, 2, 3])
appx = np.subtract(array1, array2)
print ('the difference =', appx)

appx[0]+appx[1]+appx[2]

the difference = [ 0.1  0.2  0.3]

0.60000000000000009

In [18]:
arr = np.array([[1,2,4.0],
                [1,1,5.0],
                [1,2,3.0],
                [0,1,9.0]])
d={}                
for x, y, z in arr:
    d.setdefault((x,y), 0)
    d[x,y]+=z     

print(d)

{(1.0, 2.0): 7.0, (1.0, 1.0): 5.0, (0.0, 1.0): 9.0}

In [ ]:
iris_df.iloc[2][1]-iris_df.iloc[3][1]

In [ ]:
# Creating a dummy testset
testSet = [[7.2, 3.6, 5.1, 2.5]]
test = pd.DataFrame(testSet)


#### Start of STEP 2
# Setting number of neighbors = 1
k = 1
#### End of STEP 2
# Running KNN model
result,neigh = knn(iris_df, test, k)

# Predicted class
print(result)

# Nearest neighbor
print(neigh)

In [52]:
# Setting number of neighbors = 3 
k = 3 
# Running KNN model 
result,neigh = knn(data, test, k) 
# Predicted class 
print(result) #= Iris-virginica
# 3 nearest neighbors
print(neigh)

[(141, 0.61644140029689765), (139, 0.76811457478686096), (120, 0.80622577482985536), (145, 0.81240384046359615), (144, 0.83666002653407601), (140, 0.87177978870813466), (112, 0.91651513899116832), (124, 0.92736184954957079), (115, 0.93808315196468572), (110, 0.94868329805051388), (109, 1.0), (143, 1.0000000000000007), (136, 1.0535653752852741), (147, 1.0535653752852741), (148, 1.0816653826391971), (102, 1.0816653826391973), (77, 1.1224972160321824), (52, 1.1747340124470729), (104, 1.1958260743101399), (125, 1.2083045973594573), (116, 1.2247448713915894), (137, 1.2409673645990857), (50, 1.2529964086141667), (132, 1.2727922061357855), (135, 1.2845232578665129), (86, 1.2884098726725124), (129, 1.2884098726725126), (128, 1.3), (100, 1.3076696830622025), (111, 1.3601470508735443), (56, 1.3674794331177345), (103, 1.4282856857085704), (130, 1.4282856857085704), (76, 1.4491376746189439), (127, 1.4491376746189442), (123, 1.4662878298615181), (51, 1.4696938456699067), (65, 1.4832396974191324), (126, 1.489966442575134), (138, 1.5427248620541514), (54, 1.5427248620541516), (146, 1.5459624833740309), (75, 1.5556349186104046), (70, 1.5588457268119893), (107, 1.5588457268119897), (108, 1.5620499351813311), (133, 1.5652475842498532), (131, 1.5716233645501718), (149, 1.5937377450509227), (58, 1.5937377450509229), (114, 1.6155494421403518), (85, 1.6278820596099706), (105, 1.7117242768623688), (117, 1.7146428199482251), (91, 1.7406895185529214), (83, 1.74928556845359), (72, 1.7492855684535902), (63, 1.7521415467935235), (101, 1.7691806012954134), (142, 1.7691806012954134), (74, 1.7916472867168916), (78, 1.8138357147217055), (121, 1.868154169226941), (97, 1.8894443627691184), (134, 1.9157244060668019), (73, 1.9235384061671348), (122, 1.923538406167135), (113, 1.9287301521985909), (61, 1.9646882704388497), (66, 2.0688160865577205), (68, 2.0784609690826525), (119, 2.1000000000000001), (87, 2.1047565179849186), (71, 2.1213203435596424), (118, 2.1283796653792768), (55, 2.1656407827707715), (84, 2.2271057451320084), (96, 2.2338307903688674), (95, 2.2605309110914629), (99, 2.3086792761230392), (88, 2.3151673805580453), (94, 2.3706539182259396), (92, 2.4207436873820409), (82, 2.4289915602982237), (67, 2.4535688292770597), (90, 2.4637369989509841), (64, 2.5961509971494339), (89, 2.598076211353316), (62, 2.6191601707417589), (69, 2.6776855677991773), (53, 2.6888659319497505), (59, 2.7313000567495322), (106, 2.7386127875258302), (80, 2.824889378365107), (79, 2.8390139133156778), (81, 2.9223278392404914), (98, 3.4626579386361569), (93, 3.4669871646719432), (60, 3.4942810419312296), (57, 3.4957116585897068), (18, 4.3231932642434572), (44, 4.3703546766824317), (5, 4.3931765272977588), (23, 4.4788391353117385), (20, 4.4866468548349108), (15, 4.5011109739707598), (31, 4.5442271070007045), (43, 4.5508241011931014), (24, 4.6184412955021958), (10, 4.6368092477478511), (26, 4.6411205543489169), (21, 4.6679760067935225), (48, 4.6765371804359681), (46, 4.6893496350773418), (16, 4.709564735726647), (33, 4.7148700936505126), (19, 4.7169905660283016), (27, 4.7180504448341791), (14, 4.7560487802376459), (36, 4.7570999569065187), (39, 4.7644516998286379), (25, 4.7686476070265451), (17, 4.7906158268013934), (32, 4.7927027865287037), (28, 4.7979162143580618), (7, 4.8093658625644187), (11, 4.8311489316724643), (0, 4.8373546489791295), (30, 4.8528342234203716), (4, 4.8805737367649717), (49, 4.8897852713590604), (29, 4.8938737212968624), (40, 4.912229636326054), (9, 4.9254441424099005), (34, 4.9254441424099005), (37, 4.9254441424099005), (1, 4.9628620774710228), (45, 4.9648766349225637), (3, 5.0259327492516253), (6, 5.0328918128646478), (35, 5.0497524691810387), (12, 5.0566787519082128), (47, 5.0892042599997884), (2, 5.1127292124656867), (8, 5.2258970521815673), (42, 5.2659282182726344), (38, 5.2848841046895245), (41, 5.3160135440008052), (22, 5.372150407425317), (13, 5.5253959134165216)]

KeyError: -1