In [1]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
%matplotlib inline
import importlib

In [2]:
import preProcess as pp

In [3]:
#from fastai.imports import *
#from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [4]:
train_raw=pd.read_csv('train.csv',parse_dates=["DateTime"])
validation_raw=pd.read_csv('test.csv',parse_dates=["DateTime"])

### Join the Train and the Validation Set

In [27]:
train_raw['Source']='train'
validation_raw['Source']='test'
validation_raw['is_click']='99'

In [28]:
# Concatenate the Train and the validation
data_raw=pd.concat([train_raw,validation_raw])

In [29]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 16 columns):
DateTime                  592149 non-null datetime64[ns]
Source                    592149 non-null object
age_level                 568222 non-null float64
campaign_id               592149 non-null int64
city_development_index    432411 non-null float64
gender                    568222 non-null object
is_click                  592149 non-null object
product                   592149 non-null object
product_category_1        592149 non-null int64
product_category_2        150124 non-null float64
session_id                592149 non-null int64
user_depth                568222 non-null float64
user_group_id             568222 non-null float64
user_id                   592149 non-null int64
var_1                     592149 non-null int64
webpage_id                592149 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(6), object(4)
memory usage: 76.8+ MB

### Process the Date Column

In [ ]:
#import preProcess as pp
importlib.reload(preProcess)

In [66]:
pp.add_datepart(data_raw, 'DateTime')

In [67]:
#data_raw['Date']=pd.to_datetime(data_raw['DateTime'], infer_datetime_format=True)
data_raw.tail().T

,128853,128854,128855,128856,128857
DateTime,2017-07-09 21:29:00,2017-07-09 21:29:00,2017-07-09 21:29:00,2017-07-09 21:29:00,2017-07-09 21:29:00
Source,0,0,0,0,0
age_level,3,2,3,3,3
campaign_id,9,1,4,1,9
city_development_index,4,0,0,0,3
gender,2,2,2,2,2
is_click,2,2,2,2,2
product,1,3,2,4,7
product_category_1,1,3,3,1,4
product_category_2,14,0,0,0,0
session_id,215328,282232,140499,531038,349998
user_depth,3,3,3,3,3
user_group_id,3,2,3,3,3
user_id,252148,47955,314236,988544,409394
var_1,0,0,0,0,0
webpage_id,5,1,3,1,5

def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

display_all(data_raw)

#### Count the percentage of Null's per column

In [31]:
pp.print_NullPercent(data_raw)

age_level 4.04070597096
city_development_index 26.9759807076
gender 4.04070597096
product_category_2 74.6475971419
user_depth 4.04070597096
user_group_id 4.04070597096

## TBD
groups=data['product']
fig, ax = plt.subplots()
ax.scatter(range(len(groups)),  [.5] * len(groups), c=groups, marker='_',
               lw=50, cmap=cmap_data)
plt.show()

In [32]:
pp.showDataTypes(data_raw)

DateTime datetime64[ns]
Source object
age_level float64
campaign_id int64
city_development_index float64
gender object
is_click object
product object
product_category_1 int64
product_category_2 float64
session_id int64
user_depth float64
user_group_id float64
user_id int64
var_1 int64
webpage_id int64

In [33]:
data_raw.head().T

,0,1,2,3,4
DateTime,2017-07-02 00:00:00,2017-07-02 00:00:00,2017-07-02 00:00:00,2017-07-02 00:00:00,2017-07-02 00:01:00
Source,train,train,train,train,train
age_level,4,2,2,3,2
campaign_id,359520,105960,359520,359520,405490
city_development_index,3,NaN,NaN,2,2
gender,Female,Female,Female,Male,Male
is_click,0,0,0,0,0
product,C,C,C,I,C
product_category_1,4,5,4,3,3
product_category_2,NaN,NaN,NaN,NaN,NaN
session_id,140690,333291,129781,464848,90569
user_depth,3,2,2,3,3
user_group_id,10,8,8,3,2
user_id,858557,243253,243253,1097446,663656
var_1,0,0,0,1,1
webpage_id,13787,11085,13787,13787,60305

### Convert Columns to Categorical

data_raw["product"] = data_raw["product"].astype('category').cat.as_ordered()r

In [53]:

skipColumns = pd.Series(['DateTime','session_id','user_id'])
# Create Function to do it 
for axzp in data_raw.columns:
    if not(skipColumns.str.contains(axzp).any()) :
        data_raw[axzp] = data_raw[axzp].astype('category')
        data_raw[axzp] = data_raw[axzp].cat.codes # astype('category')

In [54]:
data_raw.head()

,DateTime,Source,age_level,campaign_id,city_development_index,gender,is_click,product,product_category_1,product_category_2,session_id,user_depth,user_group_id,user_id,var_1,webpage_id
0,2017-07-02 00:00:00,1,5,4,3,1,0,2,3,0,140690,3,11,858557,0,3
1,2017-07-02 00:00:00,1,3,2,0,1,0,2,4,0,333291,2,9,243253,0,2
2,2017-07-02 00:00:00,1,3,4,0,1,0,2,3,0,129781,2,9,243253,0,3
3,2017-07-02 00:00:00,1,4,4,2,2,0,8,2,0,464848,3,4,1097446,1,3
4,2017-07-02 00:01:00,1,3,8,2,2,0,2,2,0,90569,3,3,663656,1,8

In [55]:
#Print Column Categories

pp.printColumnCategories(data_raw)

datetime64[ns] DateTime
category Source
Source {0: 0, 1: 1}
category age_level
age_level {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7}
category campaign_id
campaign_id {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}
category city_development_index
city_development_index {0: 0, 1: 1, 2: 2, 3: 3, 4: 4}
category gender
gender {0: 0, 1: 1, 2: 2}
category is_click
is_click {0: 0, 1: 1, 2: 2}
category product
product {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}
category product_category_1
product_category_1 {0: 0, 1: 1, 2: 2, 3: 3, 4: 4}
category product_category_2
product_category_2 {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31}
int64 session_id
category user_depth
user_depth {0: 0, 1: 1, 2: 2, 3: 3}
category user_group_id
user_group_id {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13}
int64 user_id
category var_1
var_1 {0: 0, 1: 1}
category webpage_id
webpage_id {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8}

In [58]:
pp.print_NullPercent(data_raw)

In [59]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592149 entries, 0 to 128857
Data columns (total 16 columns):
DateTime                  592149 non-null datetime64[ns]
Source                    592149 non-null category
age_level                 592149 non-null category
campaign_id               592149 non-null category
city_development_index    592149 non-null category
gender                    592149 non-null category
is_click                  592149 non-null category
product                   592149 non-null category
product_category_1        592149 non-null category
product_category_2        592149 non-null category
session_id                592149 non-null int64
user_depth                592149 non-null category
user_group_id             592149 non-null category
user_id                   592149 non-null int64
var_1                     592149 non-null category
webpage_id                592149 non-null category
dtypes: category(13), datetime64[ns](1), int64(2)
memory usage: 25.4 MB

data_na_filled.info()

data_na_filled = data_raw.fillna(method='ffill')
X=data_na_filled

X.info()

X.head()

        
X  = labelFit(X)
X.head()

In [ ]:
data_raw.head()

In [61]:
X= data_raw

In [70]:
X = X.drop(['DateTime'],axis=1)

In [71]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2,
                              random_state=0)

##### Seperate the Train and Validation Set

In [72]:
X_train = X[X['Source']==1]
print(X_train.shape)
X_test = X[X['Source']==0]
print(X_test.shape)
y_train = X_train[X_train['is_click']!=99]['is_click']
print(y_train.shape)

(463291, 15)
(128858, 15)
(463291,)

In [73]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [76]:
result = clf.predict(X_test)

In [78]:
pd.write_csv(data=result)

AttributeError: module 'pandas' has no attribute 'write_csv'

In [ ]:
## List columns having null values
ZZ = data.isnull().sum().sort_index()/len(data)
ZZ[ZZ!=0]

In [ ]:
X.select_dtypes(exclude=['category']).columns

In [ ]:
X.select_dtypes(include=['category']).columns

In [ ]:
cat_Columns = X.select_dtypes(include=['category']).columns
print(cat_Columns.shape[0])

https://stackoverflow.com/questions/12286607/making-heatmap-from-pandas-dataframe

In [ ]:
sns.heatmap(X)

In [ ]:
plt.pcolor(X.isnull())

In [ ]:
import matplotlib.pyplot as plt
plt.spy(X.isnull())

##### List Non Null COlumns

In [ ]:
X.isnull().sum()

In [ ]:
X_Clean=X.dropna()

In [ ]:
NonNullCols = X.columns[X.isnull().any()==False]
NonNullCols = NonNullCols.drop(['DateTime', 'user_id'])

In [ ]:
print("Non Null COlumns ",NonNullCols)
print(NonNullCols.shape[0])

In [ ]:
X['product'].describe()

In [ ]:
charts = cat_Columns.shape[0]
for i in range(1,5):
    print(i,NonNullCols[i])
    plt.subplot(2, 3, i)
    plt.hist(x=NonNullCols[i],data=X)

In [ ]:
ZZ=X.columns

In [ ]:
sns.countplot(x="campaign_id", data=X, color="c");

In [ ]:
X.shape

In [ ]:
plt.hist(x=X.columns[3],data=X)

In [ ]:
X.columns[1]

In [ ]:
for i in range(2, 13):
    plt.subplot(4, 3, i-1)
    print(X.columns[i])
    plt.hist(x=X.columns[i],data=X)
#    plt.text(0.5, 0.5, str((2, 3, i)),
#             fontsize=18, ha='center')

In [ ]:
X.hist(column="campaign_id")

In [ ]:
fig = plt.figure(figsize = (15,12))
grid_size = (3,2)
hosts_to_fmt = []
for zz in X.columns:
    if(((zz!='DateTime') and (zz != 'user_id'))):
        print (zz)
        sns.countplot(y=zz, data=X, color="c");
        
#        print(X[zz].value_counts().T)

In [ ]:
X.corrplot()

In [ ]:
sns.pairplot(X)

In [ ]:
X.hist()

In [ ]:
X.dtypes(exclude=['bool']).T

In [ ]:
 X['user_type'].astype('category')

In [ ]:
X.columns

In [ ]:
X.hist()

In [ ]:
X_Clean.columns()

In [ ]:
X_Clean.hist()

In [ ]:
X_train['user_group_id'].hist()

In [ ]:
#plt.figure(figsize=(40,40)) 
# play with the figsize until the plot is big enough to plot all the columns
# of your dataset, or the way you desire it to look like otherwise

sns.heatmap(X.corr())

##### Count the Null Columns

In [ ]:
null_columns=X.columns[X.isnull().any()]
X[null_columns].isnull().sum()

In [ ]:
X.columns

In [ ]:
#plt.figure(figsize=(80,80)) 
hist = train.hist()

In [ ]:
train.columns

In [ ]:
pd.options.display.mpl_style = 'default'
train.boxplot()

### Perform the rain Test Split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

### Train the Model

### Make the Prediction

### Compute tHe AUC_ROC curve

In [ ]:
#data.drop('session_id',axis=1,inplace=True)